.poster{
    height:300px;
    width:300px;
    scale: 0;
    z-index: 1;
    border-radius: 10px;
    box-shadow: -1px -3px 5px rgba(255,255,255,0.9);
}

.poster:hover{
    cursor: pointer;
    transition: all 0.5s linear;
    transform: scale(1.05);
    z-index:2;
}

.current{
    width: 400px;
    height:350px;
    z-index:10;
}





@media (max-width: 768px){
   .poster{
       height: 180px;
       width:180px;
   }

   .current{
       width: 300px;
       height: 250px;
   }
}